<%= simple_form_for restaurant do |f| %>
  <%= f.input :name, 
              label: "Nom du restaurant",
              input_html: { class: 'form-control' } %>
  
  <%= f.input :address, 
              label: "Adresse",
              input_html: { class: 'form-control' } %>
  
  <%= f.input :phone_number, 
              label: "Téléphone",
              input_html: { class: 'form-control' } %>
  
  <%= f.input :category, 
              collection: ["chinese", "italian", "japanese", "french", "belgian"],
              label: "Catégorie",
              input_html: { class: 'form-select' } %>
  
  <div class="d-grid">
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>
